<h1>Cadastrar livros: </h1>
<form action="/books/insertbooks" method="POST" class="form">
    <div class="form-control" class="title">
        <label for="title">Título: </label>
        <input type="text" name="title_name" placeholder="Digite o título">
    </div>
    <div class="form-control">
        <label for="pagesqty">Número de páginas: </label>
        <input type="number" name="pagesqty" placeholder="Digite a quantidade de páginas">
    </div>
    <input type="submit" value="Cadastrar" class="bottom">
</form>